.App-logo {
  height: 30vmin;
}

.App-header {
  align-items: top;
  font-size: 20px;
  color: #f2003a;
  display: flex;
  border-bottom: 3px solid #f2003a;
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
